packages:
  yum:
    python36 : []
    python36-devel : []
    amazon-efs-utils : []

files:
  "/app/cloudalbum/efs_setup.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      # Commands that will be run on containter_commmands
      # Here the container variables will be visible as environment variables.
      . /opt/elasticbeanstalk/support/envvars

      ## EFS mount
      mkdir -p /mnt/efs
      
      mountpoint /mnt/efs
      
      if [ $? -eq 0 ] ; then
        echo "Already mounted"
      
      else
        mount -t efs $EFS_ID:/ /mnt/efs
      fi

      chown -R apache:apache /mnt/efs

container_commands:
  efs_setup:
    command: /app/cloudalbum/efs_setup.sh

option_settings:
  aws:elasticbeanstalk:application:environment:
    LANG: ko_KR.UTF-8
    LC_ALL: ko_KR.UTF-8

  aws:elasticbeanstalk:container:python:
    WSGIPath: wsgi.py
